.html {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

}

.body{
  background: #FFF;
}
.main-logo{
  color:  #4D5AE5;
 font-family: "Raleway", sans-serif;
font-size: 18px;
line-height: 1.1;
letter-spacing: 0.03em; 
text-transform: uppercase;

}

.span-logo{
  color:  #2E2F42;

}

.nav-text{
color: #2E2F42;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.nav-text:hover
.nav-tex:focus
.nav-tex:active{
  color: #404bbf;
}

.nav-address{
color: #434455;
line-height: 1.5;
letter-spacing: 0.02em;
}

.dark-bg {
background:  #2E2F42;
}

.darc-bg-txt {
color:  #FFF;
text-align: center;
font-size: 56px;
line-height:1;
letter-spacing: 0.02em; 
}

.button {
display: inline-flex;
align-items: flex-start;
background: #4d5ae5;
color: #fff;
cursor: pointer;
line-height: 1.5;
font-weight: 500;
font-family: "Raleway", sans-serif;
letter-spacing: 0.04em;
width: 169px;
height: 56px;

}

.Our-capabilities{
  background: #FFF;
}

.Our-capabilities-header
{
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height:  1.2;
font-family: "Roboto", sans-serif;
letter-spacing: 0.02em;

}
.Our-capabilities-txt{
  color:  #434455;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
}
.light-bg {

  background: #f4f4fd;

}


.team{
color: #2E2F42;
text-align: center;
font-style: normal;
line-height: 1.1;
font-size: 36px;
letter-spacing: 0.02em;

}


.footer {
  background: #2e2f42;
}
.footer-text {
  color:  #F4F4FD;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-logo{
  color:  #F4F4FD;
}
